@model ToDoTaskSolution.Entities.Todotask;

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Task</h1>

<h4>ToDoTask</h4>
<div>
    <div>
        <form class="form" asp-action="Create">
            <partial name="_ToDoTaskForm" model="Model" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-create" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="a" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
