<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ToDoTaskSolution</title>
    <link rel="stylesheet" href="~/css/btn.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/dl.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/ToDoTaskSolution.styles.css" asp-append-version="true" />
</head>
<body class="body">
    <div class="upper-container">
        <header class="header">
            <nav class="nav">
                <a class="a navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="img" src="~/assets/logo.png" />
                </a>
                <ul class="menu-items">
                    <li class="menu-item">
                        <a class="a nav-link" asp-area="" asp-controller="ToDoTask" asp-action="Index">To Do Tasks</a>
                    </li>
                    <li class="menu-item">
                        <a class="a nav-link" asp-area="" asp-controller="Person" asp-action="Index">Users</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="center-container">
            <main role="main" class="view-container">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer id="footer" class="footer">
        <div class="footer-container">
            &copy; 2023 - ToDoTaskSolution - <a class="a" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
