@model ToDoTaskSolution.Entities.Person

@{
    ViewData["Title"] = "Create";
}

<h1>Create New User</h1>

<h4>User</h4>
<div>
    <div>
        <form class="form" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="_PersonForm" model="Model"/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-create" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="a" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
